Vits/Vits/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58782/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58782/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58782/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VitsWCF" />
      <xsd:import schemaLocation="http://localhost:58782/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:58782/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveReport" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveOffice_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOffice" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveOffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveMission_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMission" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveMission_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMissionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTrip" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTripResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveTravelAdvances_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTravelAdvances" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveTravelAdvances_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTravelAdvancesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveExpense" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveDeviation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDeviation" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveDeviation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDeviationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCountry" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveCostCenter_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCostCenter" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveCostCenter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCostCenterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveReport" message="tns:IService1_SaveReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveReportResponse" message="tns:IService1_SaveReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOffice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveOffice" message="tns:IService1_SaveOffice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveOfficeResponse" message="tns:IService1_SaveOffice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMission">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveMission" message="tns:IService1_SaveMission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveMissionResponse" message="tns:IService1_SaveMission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveTrip" message="tns:IService1_SaveTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveTripResponse" message="tns:IService1_SaveTrip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTravelAdvances">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveTravelAdvances" message="tns:IService1_SaveTravelAdvances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveTravelAdvancesResponse" message="tns:IService1_SaveTravelAdvances_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveEmployee" message="tns:IService1_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveEmployeeResponse" message="tns:IService1_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveExpense" message="tns:IService1_SaveExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveExpenseResponse" message="tns:IService1_SaveExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDeviation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveDeviation" message="tns:IService1_SaveDeviation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveDeviationResponse" message="tns:IService1_SaveDeviation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveCountry" message="tns:IService1_SaveCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveCountryResponse" message="tns:IService1_SaveCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCostCenter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveCostCenter" message="tns:IService1_SaveCostCenter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveCostCenterResponse" message="tns:IService1_SaveCostCenter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployees" message="tns:IService1_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeesResponse" message="tns:IService1_GetEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveReport">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOffice">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMission">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTrip">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveTrip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTravelAdvances">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveTravelAdvances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveExpense">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDeviation">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveDeviation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCountry">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCostCenter">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveCostCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58782/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>