Vits/Vits/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VitsWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VitsWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58782/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Report">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Car" type="xs:boolean" />
          <xs:element minOccurs="0" name="EID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
          <xs:element minOccurs="0" name="EmployeeReference" nillable="true" type="q1:EntityReferenceOfEmployeeEo6k46yw" />
          <xs:element minOccurs="0" name="Expenses" type="xs:int" />
          <xs:element minOccurs="0" name="MID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Miles" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Mission" nillable="true" type="tns:Mission" />
          <xs:element minOccurs="0" name="MissionReference" nillable="true" type="q1:EntityReferenceOfMissionEo6k46yw" />
          <xs:element minOccurs="0" name="REPID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Receipt" nillable="true" type="tns:ArrayOfReceipt" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="Employee">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Manager" type="xs:boolean" />
          <xs:element minOccurs="0" name="Mission" nillable="true" type="tns:ArrayOfMission" />
          <xs:element minOccurs="0" name="Mission1" nillable="true" type="tns:ArrayOfMission" />
          <xs:element minOccurs="0" name="Report" nillable="true" type="tns:ArrayOfReport" />
          <xs:element minOccurs="0" name="TravelAdvances" nillable="true" type="tns:ArrayOfTravelAdvances" />
          <xs:element minOccurs="0" name="Trip" nillable="true" type="tns:ArrayOfTrip" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfMission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mission" nillable="true" type="tns:Mission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMission" nillable="true" type="tns:ArrayOfMission" />
  <xs:complexType name="Mission">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
          <xs:element minOccurs="0" name="Employee1" nillable="true" type="tns:ArrayOfEmployee" />
          <xs:element minOccurs="0" name="EmployeeReference" nillable="true" type="q3:EntityReferenceOfEmployeeEo6k46yw" />
          <xs:element minOccurs="0" name="MID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Manager" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="OID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Office" nillable="true" type="tns:Office" />
          <xs:element minOccurs="0" name="OfficeReference" nillable="true" type="q3:EntityReferenceOfOfficeEo6k46yw" />
          <xs:element minOccurs="0" name="Report" nillable="true" type="tns:ArrayOfReport" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TravelAdvances" nillable="true" type="tns:ArrayOfTravelAdvances" />
          <xs:element minOccurs="0" name="Trip" nillable="true" type="tns:ArrayOfTrip" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mission" nillable="true" type="tns:Mission" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Office">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
          <xs:element minOccurs="0" name="CountryReference" nillable="true" type="q4:EntityReferenceOfCountryEo6k46yw" />
          <xs:element minOccurs="0" name="Mission" nillable="true" type="tns:ArrayOfMission" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="OrgNumber" type="xs:int" />
          <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Office" nillable="true" type="tns:Office" />
  <xs:complexType name="Country">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Office" nillable="true" type="tns:ArrayOfOffice" />
          <xs:element minOccurs="0" name="Trip" nillable="true" type="tns:ArrayOfTrip" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfOffice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Office" nillable="true" type="tns:Office" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOffice" nillable="true" type="tns:ArrayOfOffice" />
  <xs:complexType name="ArrayOfTrip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trip" nillable="true" type="tns:Trip" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrip" nillable="true" type="tns:ArrayOfTrip" />
  <xs:complexType name="Trip">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
          <xs:element minOccurs="0" name="CountryReference" nillable="true" type="q6:EntityReferenceOfCountryEo6k46yw" />
          <xs:element minOccurs="0" name="EID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
          <xs:element minOccurs="0" name="EmployeeReference" nillable="true" type="q6:EntityReferenceOfEmployeeEo6k46yw" />
          <xs:element minOccurs="0" name="MID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Mission" nillable="true" type="tns:Mission" />
          <xs:element minOccurs="0" name="MissionReference" nillable="true" type="q6:EntityReferenceOfMissionEo6k46yw" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StopDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Trip" nillable="true" type="tns:Trip" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="ArrayOfTravelAdvances">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TravelAdvances" nillable="true" type="tns:TravelAdvances" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravelAdvances" nillable="true" type="tns:ArrayOfTravelAdvances" />
  <xs:complexType name="TravelAdvances">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Approved" type="xs:boolean" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
          <xs:element minOccurs="0" name="EmployeeReference" nillable="true" type="q7:EntityReferenceOfEmployeeEo6k46yw" />
          <xs:element minOccurs="0" name="MID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Mission" nillable="true" type="tns:Mission" />
          <xs:element minOccurs="0" name="MissionReference" nillable="true" type="q7:EntityReferenceOfMissionEo6k46yw" />
          <xs:element minOccurs="0" name="TID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TravelAdvances" nillable="true" type="tns:TravelAdvances" />
  <xs:complexType name="ArrayOfReceipt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receipt" nillable="true" type="tns:Receipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceipt" nillable="true" type="tns:ArrayOfReceipt" />
  <xs:complexType name="Receipt">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CCID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="CostCenter" nillable="true" type="tns:CostCenter" />
          <xs:element minOccurs="0" name="CostCenterReference" nillable="true" type="q8:EntityReferenceOfCostCenterEo6k46yw" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="From" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RECID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="REPID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
          <xs:element minOccurs="0" name="ReportReference" nillable="true" type="q8:EntityReferenceOfReportEo6k46yw" />
          <xs:element minOccurs="0" name="Sum" type="xs:int" />
          <xs:element minOccurs="0" name="To" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VAT" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Receipt" nillable="true" type="tns:Receipt" />
  <xs:complexType name="CostCenter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CCID" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Receipt" nillable="true" type="tns:ArrayOfReceipt" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CostCenter" nillable="true" type="tns:CostCenter" />
</xs:schema>